.container {
    height: 100px;
    background-color: #151613;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
    padding-left: 3rem;
}

.right  {
    display: flex;
    align-items: center;
}

.theme-control-container {
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.theme-control-container:hover {


}

.icon-container {
    position: relative;
    height: 40px;
    width: 40px;
}
.icon-container:hover  {
    cursor: pointer;
}

.pfp-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.name {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 1rem;
    font-family: "Outfit", sans-serif;
}

@media screen and (max-width: 768px) {
    .container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .name {
    }
    
}